@font-face {
    font-family: "Roboto-Black";
    src: url(./font/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(./font/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(./font/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(./font/Roboto-Regular.ttf);
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
  
  
  --ff-head:"Roboto", sans-serif;
  --ff-body:"Lato", sans-serif;

  
    /* CSS HEX */
    --button: hsl(168, 34%, 30%);
    --button-hover: #f6ca18;
    --background: #ffffff;
    --secondary: #004aad;
    --gray: #888888;
    --primary: #1898c5;
    --font-black: #03120e;
    --white: #ffffff;
    --fonts-nav: #ffffff;
  
  --step--2: clamp(0.9549rem, 0.9305rem + 0.1216vw, 1.04rem);
  --step--1: clamp(1.1458rem, 1.1018rem + 0.2202vw, 1.3rem);
  --step-0: clamp(1.375rem, 1.3036rem + 0.3571vw, 1.625rem);
  --step-1: clamp(1.65rem, 1.5411rem + 0.5446vw, 2.0313rem);
  --step-2: clamp(1.98rem, 1.8203rem + 0.7987vw, 2.5391rem);
  --step-3: clamp(2.376rem, 2.148rem + 1.1398vw, 3.1738rem);
  --step-4: clamp(2.8512rem, 2.5323rem + 1.5944vw, 3.9673rem);
  --step-5: clamp(3.4214rem, 2.9821rem + 2.1967vw, 4.9591rem);
  
  
  }
  
  *, *::before, *::after {box-sizing: inherit;}
  
  body,h1,h2,h3,h4,h5,h6,p{margin: 0;}
  
  
  h1,h2,h3,h4,h5,h6,a{font-family: var(--ff-head);}
  p,ul,ol{font-family: var(--ff-body);}
  
  body{
    width: inherit;
    height: inherit;
  }


  
  .highlight {
    background-color: yellow; /* Highlight color */
    font-weight: bold;         /* Bold the highlighted text */
}
  
  /* utopia.fyi//type/calculator */
  /* 320px 22px | 1440px 26px */
  h1{font-size:var(--step-5);}
  h2{font-size:var(--step-4);}
  h3{font-size:var(--step-3);}
  h4{font-size:var(--step-2);}
  h5{font-size:var(--step-1);}
  h6,p,ol,ul,a{font-size: var(--step-0);}

  .bg-primary {
    --bs-text-opacity: 1;
    background-color: var(--secondary) !important;
}
.bg-secondary {
    --bs-text-opacity: 1;
    background-color: var(--primary) !important;
}
.bg-gray {
    --bs-text-opacity: 1;
    background-color: var(--gray) !important;
}

  .text-primary {
    --bs-text-opacity: 1;
    color: var(--primary) !important;
}
  
.text-secondary {
    --bs-text-opacity: 1;
    color: var(--white) !important;
}

.text-white {
    --bs-text-opacity: 1;
    color: var(--white) !important;
}

.text-nav {
    --bs-text-opacity: 1;
    color: var(--button-hover) !important;
}
  
  .text-bg-success {
    color: #fff !important;
    background-color: RGBA(var(--bs-success-rgb), var(--bs-bg-opacity, 1)) !important;
  }
  
  .text-bg-info {
    color: #000 !important;
    background-color: RGBA(var(--bs-info-rgb), var(--bs-bg-opacity, 1)) !important;
  }
  
  .text-bg-warning {
    color: #000 !important;
    background-color: RGBA(var(--bs-warning-rgb), var(--bs-bg-opacity, 1)) !important;
  }
  
  .text-bg-danger {
    color: #fff !important;
    background-color: RGBA(var(--bs-danger-rgb), var(--bs-bg-opacity, 1)) !important;
  }
  
  .text-bg-light {
    color: #000 !important;
    background-color: RGBA(var(--bs-light-rgb), var(--bs-bg-opacity, 1)) !important;
  }
  
  .text-bg-dark {
    color: #fff !important;
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
  }
  
  

/* MASTHEAD */
.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
    background-color: rgba(0, 35, 66, 0.5);
}

.masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
}

.masthead .masthead-subheading {
    font-size: 1.25rem;
}

.masthead .masthead-avatar {
    width: 15rem;
}

@media (min-width: 992px) {
    .masthead {
        padding-top: calc(6rem + 104px);
        padding-bottom: 6rem;
    }

    .masthead .masthead-heading {
        font-size: 4rem;
        line-height: 3.5rem;
    }

    .masthead .masthead-subheading {
        font-size: 1.5rem;
    }
}

.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}

.masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
}

.masthead .masthead-subheading {
    font-size: 1.25rem;
}

.masthead .masthead-avatar {
    width: 15rem;
}

@media (min-width: 992px) {
    .masthead {
        padding-top: calc(6rem + 104px);
        padding-bottom: 6rem;
    }

    .masthead .masthead-heading {
        font-size: 4rem;
        line-height: 3.5rem;
    }

    .masthead .masthead-subheading {
        font-size: 1.5rem;
    }
}

/* Card*/
.card {
    position: relative;
    overflow: hidden;
}

.card-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/card_bg.jpg'); /* Background image path */
    background-size: cover; /* Cover the entire card */
    background-position: center; /* Center the image */
    z-index: 0; /* Ensure background is behind content */
}

.card-body {
    position: relative;
    z-index: 1; /* Bring content above the background */
}

/* Floating Button*/
.btn-floating {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    transition: background-color 0.3s ease;
}

.btn-floating:hover {
    background-color: var(--primary); /* Change color on hover */
}


.accordion {
    --bs-accordion-bg: var(--bs-body-bg);
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--secondary);
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--font-black);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23052c65' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--font-black);
    --bs-accordion-active-bg: var(--white);
  }
  
  .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
  }
  @media (prefers-reduced-motion: reduce) {
    .accordion-button {
      transition: none;
    }
  }
  .accordion-button:not(.collapsed) {
    color: var(--white);
    background-color: var(--secondary) !important; /* Change to any color you like */
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
  .accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform);
  }
  .accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
  }
  @media (prefers-reduced-motion: reduce) {
    .accordion-button::after {
      transition: none;
    }
  }
  .accordion-button:hover {
    z-index: 2;
  }
  .accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
  }
  
  .accordion-header {
    margin-bottom: 0;
  }
  
  .accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
  }
  .accordion-item:first-of-type {
    border-top-left-radius: var(--bs-accordion-border-radius);
    border-top-right-radius: var(--bs-accordion-border-radius);
  }
  .accordion-item:first-of-type > .accordion-header .accordion-button {
    border-top-left-radius: var(--bs-accordion-inner-border-radius);
    border-top-right-radius: var(--bs-accordion-inner-border-radius);
  }
  .accordion-item:not(:first-of-type) {
    border-top: 0;
  }
  .accordion-item:last-of-type {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
  }
  .accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
    border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
    border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
  }
  .accordion-item:last-of-type > .accordion-collapse {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
  }
  
  .accordion-body {
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
  }
  
  .accordion-flush > .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
  .accordion-flush > .accordion-item:first-child {
    border-top: 0;
  }
  .accordion-flush > .accordion-item:last-child {
    border-bottom: 0;
  }
  .accordion-flush > .accordion-item > .accordion-header .accordion-button, .accordion-flush > .accordion-item > .accordion-header .accordion-button.collapsed {
    border-radius: 0;
  }
  .accordion-flush > .accordion-item > .accordion-collapse {
    border-radius: 0;
  }
  
  [data-bs-theme=dark] .accordion-button::after {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }